<form (ngSubmit)="update(albumForm)" #albumForm="ngForm">
    <div>
      <label>Title: 
        <input name="title" id="title" placeholder="Title" [(ngModel)]="album.title"/>
      </label>
    </div>
    <div>
      <label>Released Year:
        <input name="releasedYear" id="releasedYear" placeholder="Released Year" [(ngModel)]="album.releasedYear"/>
      </label>
    </div>
    <button type="submit">Update</button>    
    <button *ngIf="isLoggedIn" type="button" class="bg-red-500" (click)="deleteData()">Delete</button>
    <button type="button" (click)="onBack()">back</button>
  </form>

